#search-area {
    text-align: center;
    margin-top: 2em;
}

#search-input, #buttons {
    margin-bottom: 1.8em;
}

#search-input {
    margin-top: 1.4em;
}

a {
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-item, .footer-item {
    display: flex;
}

.nav-item {
    margin-top: 20px;
}

.nav-item li {
    margin: 0 10px;
}

.nav-item a {
    color: black;
    font-family: Arial;
    font-size: 13px;
}

#nav-left a {
    font-size: 14px;
}

#nav-left {
    margin-left: 15px;
}

#nav-right {
    margin-right: 15px;
}

#footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(239,239,239);
}

.footer-item {
    margin: 15px 0;
}

.footer-item a {
    color: rgb(112,117,122);
    font-family: Arial;
    font-size: 15px;
}

.footer-item p {
    margin: 0 15px;
}

#footer-center p {
    margin-left: 0;
}

#footer-left {
    margin-left: 15px;
}

#footer-right {
    margin-right: 15px;
}

#leaf {
    height: 15px;
    margin-right: 8px;
}