#search-area {
    text-align: center;
    margin-top: 4em;
}

#search-input, #buttons {
    margin-bottom: 1.8em;
}

#search-input {
    margin-top: 1.4em;
}

a {
    text-decoration: none;
}

li {
    display: inline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    display: inline;
}